Core/bin/
Core/obj/
presentation/.vs/
presentation/bin/
presentation/obj/
Repository/bin/
Repository/obj/
Service/bin/
Service/obj/
.env
.secret
presentation/Properties/licenses.licx
presentation/Properties/licenses.licx.bak
